.row{
	padding-left:100px;
	padding-right:100px;
}

.smallTitle{
	text-transform: uppercase;
	font-size:20px;
	font-weight:bold;
}

.smallDescription{
	font-size:18px;
	font-style: italic;
}

.narrow{
	width:80%;
	margin: 0 auto;
}

.center{
	text-align:center;
}

.white{
	color:white !important;
}

