.smallTitle{
	text-transform: uppercase;
	font-size:16px;
	font-weight:bold;
	letter-spacing: .05em;
}

.smallDescription{
	font-size:21px;
	width:840px;
	margin: 0 auto;
}

.narrow{
	width:80%;
	margin: 0 auto;
}

.center{
	text-align:center;
}

.white{
	color:white !important;
}
.noPadding{
	padding-right:0px !important;
	padding-left:0px !important;
}
