include ./head.jade

body
  .mainContainer
    // HEADER

    include ./header.jade
  
    // END HEADER
    .row(style='margin-top:30px; padding:100px;')
      .large-12.columns.center
        h1 404 - Not Found
        p
          | Sorry can't find what your looking for here :(

    include ./footer.jade