include ./head.jade

body
  .mainContainer
    // HEADER

    include ./header.jade
  
    // END HEADER
    .row(style='margin-top:30px')
      .large-5.columns
        h3 About
        p
          | OpenMatch is a project of 
          a(href='http://www.toeverywhere.net' target="_blank" style="text-decoration:underline;font-weight:bold") toEverywhere
          | , an aggregator of carpools and rideshares. We hope that through OpenMatch we can help seed more
          | ridesharing platforms to partner with us and hopefully contribute back to the aggregator's mobility network.
          br
          br
          | OpenMatch’s mission is to improve boost carpooling by giving individuals and organizations access
          | to free open sourced ridematching software that can be customized for any situation. By actively maintaining, updating,
          |  and creating modules for the software we hope to create a suite of tools for use in transportation demand management, mainly 
          | through our own efforts but also with the help of the community.
      .large-5.large-offset-1.end.columns

        h3 History
        hr
        h5
          u July 2014 ~ Started work
        p
          | First work started work on a long distance ridematching system to serve the traveling community.
          | The system would match drivers up to passengers along their route.
        hr
        h5
          u  January 2015 ~ Accepted into Carma Axlr8r
        p
          | Awarded funding from SOSVentures. Worked with 10 other startups and industry mentors
          | in the carpooling space to help crack the problem.
        hr
        h5
          u March 2015 ~ Creation of the Aggregator
        p
          | The application was adapted to aggregate carpool data from around the world. 
          a(style="text-decoration:underline" target="_blank" href="http://toeverywhere.net/home") toEverywhere network map
        hr
        h5
          u May 2015 ~ Metropolitan Transportation Commision joins the aggregator
        p
          | The first governement organization joins the aggregator, contributing over 10,000 rides
        h5
          u June 2015 ~ The original ridematching software is opensourced as OpenMatch
        p
          | As in our goal are to improve the state of carpooling through collaboration we launch an alpha of 
          | an opensourced ridematching application based on our original software.

    include ./footer.jade