include ./head.jade

body
  .mainContainer
    // HEADER

    include ./header.jade
  
    // END HEADER
    .row(style='margin-top:30px')
      .large-5.columns
        h3 About
        p
          | OpenMatch is a project of 
          a(href='http://www.toeverywhere.net' target="_blank" style="text-decoration:underline;font-weight:bold") toEverywhere
          | , an aggregator of carpools and rideshares, and we hope that through OpenMatch we can help seed more
          | ridesharing platforms to partner with us and hopefully contribute back to the aggregator's mobility network.
          br
          br
          | OpenMatch’s mission is to improve the state of the carpooling market by giving individuals and organizations access
          | to free open sourced ridematching software that can be customized for any situation. By actively maintaining, updating,
          |  and creating modules for the software we hope to create a suite of tools for use in transportation demand management, mainly 
          | through our own efforts but also with the help of the community.
      .large-5.large-offset-1.end.columns

        h3 History
        hr
        h5
          u Started work ~ July 2012
        p
          | First work on the ridematching software started
        hr
        h5
          u Accepted into Carma Axlr8r ~ July 2012
        p
          | First work on the ridematching software started
        hr
        h5
          u Did a lot of stuff ~ July 2012
        p
          | First work on the ridematching software started
        hr
        h5
          u Started work ~ July 2012
        p
          | First work on the ridematching software started

    include ./footer.jade