include ./head.jade

body
  .mainContainer

    include ./header.jade
    
    .clearfix.center(style="background-image:url('https://download.unsplash.com/photo-1428953773181-b4cf23cd7195'); \
    background-position : center; \
    background-size: cover;\
    margin-top:-3px;\
    padding:150px 0 150px 0;\
    margin-bottom:30px")
      .large-6.large-offset-3.end.columns
        h1
          span(style="background-color:rgba(255,255,255,0.8);padding:10px 10px 0 10px") Enterprise Service
        p(style="background-color:rgba(255,255,255,0.8);padding:10px 10px 10px 10px")
          | toEveywhere offers enterprise level service for organizations that need
          | instances of ridematching software setup, maintained, and customized. 
          | Modules developed in enterprise mode also get pushed out to the public.
    .row
      .large-5.large-offset-1.columns
        h3(style="text-decoration:underline") Pilot Program
        p
          | Try out OpenMatch and enterprise sevice for one month free. We'll setup an instance, migrate your rideshare data,
          | and work with your team to design it for your purposes. For the first five organizations 
          | that sign up we will also be developing completely new features and ridematch packages, all of which will be 
          | release to the public. We look forward to working with you and making software that works for everyone.
      .large-5.end.columns
        h4(style="text-decoration:underline") Annual Program
        p
          | After your pilot if you decide to continue on with the service we will continue to
          | maintain your instances, work with your team to keep it up-to-date, and continue
          | to develop the software with your team. While its still early to declare prices we want to 
          | price ourselves from 10-20k, given that your instance feeds into the aggregator 
          | toEverywhere aggregator and 20-30k for private instances.

    hr
    .row
      .large-12.center.columns(style='padding:100px')
        h4 Want to inquire about a pilot program?
        p send us an email at rafael@toeverywhere.net or lawrence@toeverywhere.net 
        .large-6.columns
          button.getstarted(style="background-color:#4fd164") view a demo
        .large-6.columns
          button.getstarted(style="background-color:#4fd164") view features
    include ./footer.jade