include ./head.jade

body
  .mainContainer
    // HEADER

    include ./header.jade

    // END HEADER

    .center(style="height:400px; \
    background-image:url('https://download.unsplash.com/photo-1428908728789-d2de25dbd4e2'); \
    background-size: cover;\
    margin-top:-3px;\
    padding-top:70px;\
    margin-bottom:30px")
      .large-6.large-offset-3.end.columns
        h1 Features
        p Below are some of OpenMatch's current features.
      .large-8.large-offset-2.end.columns
        .large-4.columns
          button.button.featuresButton user customizable routes
        .large-4.columns
          button.button.featuresButton smart alert system
        .large-4.columns
          button.button.featuresButton realtime chat
        .large-4.columns
          button.button.featuresButton facebook verifcation
        .large-4.columns
          button.button.featuresButton detailed network maps
        .large-4.columns
          button.button.featuresButton embeddable interfaces
    .row
      .large-4.large-offset-1.columns(style='padding-top:50px')
        h4 Userbased Ridematching
        p
          | Let your users create an area around their route where they are willing to pick up passengers. 
          | Passengers can see all of the rides passing by them.
      .large-6.end.columns
        img(src='images/homescreen.png', style='height:350px; box-shadow:0 0 10px #ccc;')
    hr
    .row.benefitsRow
      .large-4.columns
        i.fa.fa-life-saver
        h4 Build in safety features
        p
          | Inbuilt Facebook verification and feedback system to help the user community regulate itself.
      .large-4.columns
        i.fa.fa-comments-o
        h4 Realtime chat
        p
          | Let users chat with each other in real time, along with phone details and email notices
      .large-4.columns
        i.fa.fa-bell-o
        h4 Alert driven matching
        p
          | Users requesting rides automatically get notified via email when drivers create rides and vis versa
    hr
    .row
      .large-12.columns
        h2.center Embed Friendly Interfaces
        iframe(style='width:100%; height:400px', src='http://toeverywhere.net/partner/511%20Rideshare')
      .large-12.columns.center
        p
          | OpenMatch can easily be embedded using toEverywhere interfaces.
    hr
    .row
      .large-5.columns(style='padding-top:50px')
        h4 Mobile friendly design
        p Works on mobile, table, and desktop 
      .large-7.columns
        img(src='images/flat.png', style='height:350px')
    include ./footer.jade