footer
  .navipanel
    .row
      ul.inline-list
        .row
          .small-12.medium-4.columns
            h5
              a(href='/about') About Us
            h5
              a(href='/features') Current features and modules
            ul
              li
                a(href='/features/driver') Driver
              li
                a(href='/features/passenger') Passenger
              li
                a(href='/features/safety') Safety
              li
                a(href='/features/alerts') Alerts
              li
                a(href='/features/communication') Communication
              li
                a(href='/features/network-maps') Region wide network maps
          .small-12.medium-4.columns
            h5
              a(href='/docs') Docs
            ul
              li
                a(href='/docs/getting-started') Getting started
              li
                a(href='/docs/file-hierarchy') File hierarchy
              li
                a(href='/docs/tests') Tests
              li
                a(href='/docs/api') API
              li
                a(href='/docs/client-side') Client-side
          .small-12.medium-4.columns
            h5
              a(href='/contact') Contact Us
            h5
              a(href='/for-businesses') For Businesses
            h5
              a(href='/for-government-metropolitan-planning-organizations') For Government MPOs
            h5
              a(href='/for-software-developers') For Software Developers
            h5
              a(href='/terms-and-conditions') Terms and Conditions
      hr
      .row
        .large-6.columns
          p © Rdvouz, Incorporated. All rights reserved.
        .large-6.columns
          ul.inline-list.right
            li
              Questions? Feedback? email : rafael@toeverywhere.net