header.grey
  .row.grey
    .large-6.columns
      h4.logoClass
        a(href='/') OpenMatch
        p
          span.subText(style="font-size:12px") open source ridematching from 
            a(href="http://toeverywhere.net" target="_blank" style="color:#666 !important;text-decoration:underline") toEverywhere
    .large-6.columns
      ul.right.button-group.topNav
        li
          a.button(href='/features') features
        li
          a.button(href='/enterprise') enterprise
        li
          a.button(href='/about') about
        li
          a.button(href='/contact') contact
        li
          a.button(href='/docs') docs
