header.grey
  .row.grey
    .large-6.columns
      h1.logoClass
        a(href='/') OpenMatch
        span.subText(style='position:relative; top:-4px; padding-left:10px') open source ridematching software
    .large-6.columns
      ul.right.button-group.topNav
        li
          a.button(href='/features') features
        li
          a.button(href='/enterprise') enterprise
        li
          a.button(href='/about') about
        li
          a.button(href='/contact') contact
        li
          a.button(href='/docs') docs
