header.grey
  .row.grey
    .large-6.columns
      h4.logoClass
        a(href='/') OpenMatch
        p(style="margin:-15px 0 -15px 0")
          span.subText open source ridematching from 
          a.subText toEverywhere
    .large-6.columns
      ul.right.button-group.topNav
        li
          a.button(href='/features') features
        li
          a.button(href='/enterprise') enterprise
        li
          a.button(href='/about') about
        li
          a.button(href='/contact') contact
        li
          a.button(href='/docs') docs
