include ./head.jade

body
  .mainContainer
    // HEADER

    include ./header.jade
  
    // END HEADER
    .row(style='margin-top:30px')
      .large-10.large-offset-1.columns
        h3 Terms and Conditions
        p.
          The following terms ("User agreement") is a legal binding contract agreed between you ("customer", or "users", "driver", and "passenger") and the owners of openmatch.com. Please review these terms and conditions carefully before using this service.
        p.
          Ammendment
          openmatch reserve rights to amend this contract at any time with or without any notice to you (we change things!). Please check from time to time to see the agreement then in effect. Your continued access to the Website without citing will automatically constitute acceptance of the amended Terms of service. All amended terms shall automatically be effective when initially posted on the Site and active upon use of the site.
        p.
          Disclamer
          openmatch is an online service provider that helps individuals to communicate and seek transportation from one destination to other. It also helps people to search and find others travelling to or through to those destinations as them. We are only an online platform through which you can contact other people and we do not provide matching service or advise suitable companions between users. Similarly, we do not provide transportation services nor are we a carrier. It is entirely up to the transportation provider or the driver to offer service and up to the passenger or user to accept that offer.
        p.
          Termination
          By using openmatch you not only understand and accept this user agreement but also agree to bound by and comply with it. If for some reason you do not agree to or be bound by these Terms and Conditions, you must not register or use this service and terminate it. Your participation in the service will be terminated upon notice of termination instructions on the site or by email notification from us. Your information from the site will be removed after termination or can be manually removed by you.In an effort for the good of the community we reserve the right to terminate without warning. We maintain sole discretion to bar your use of service in future, for any or no reason even after this agreement ends.
        p.
          Eligibility
          To use our service you must be at least eighteen years old. Our services are not available for individuals below eighteen or to temporarily or indefinitely terminated users.
        p.
          User Membership and Responsibility
          This website is available for the general public to access and use it, subject to these Terms and conditions. Users must register and become a member of openmatch to have full access to the services of this website. You are the responsible for maintaining the confidentiality of any password provided by you or openmatch for using this service and you are liable for all activities that occur under your password. It is highly recommended that users check the identities of the drivers or passenger before the journey as openmatch is not obliged to check the identities of anyone, using our website. You are responsible for all the equipment that includes but not limited to Pc, internet, telephone, software or other telecommunication device or system used to access openmatch, together with any costs incurred as the result of its use.
        p.
          Complaints or issues
          You can contact me at rancheta@berkeley.edu if you have any questions or concerns.
        p.
          No Representation or Warranties
          THE WEBSITE IS A PLACE THOUGH WHICH PASSENGERS AND DRIVERS CAN CONNECT AND MAKE ARRANGEMENTS FOR TRAVEL AND IT IS AT YOUR OWN DISCRETION OR SOLE RISK. ALL CONTENTS AVAILABLE FOR THE USERS ARE WITHOUT ANY WARRANTIES OR REPRESENTATION OF ANY KIND. openmatch IS NOT INVOLVED IN THE ACTUAL TRANSACTIONS AND THEREFORE HAS NO CONTROL OR DO NOT ASSURE OVER THE QUALITY, ACCURACY, SAFETY OR RELIABILITY OF THE DESCRIPTION INCLUDED IN POSTINGS, THE ABILITY OF PASSENGERS TO PAY FOR THE DRIVER'S SERVICE OR THE ABILITY OF DRIVERS TO FULFIL THEIR OBLIGATIONS. WE CANNOT ENSURE THAT A DRIVER OR PASSENGER WILL COMPLETE THEIR RESPONSIBILITIES. WE DO NOT WARRANT THAT THIS WEBSITE WILL BE MADE AVAILABLE TO ANY PARTICULAR LOCATION OR TIME OR ACCESS TO OUR WEBSITE WILL BE UNINTERRUPTED. WE ALSO DO NOT GUARANTEE THAT THIS WEBSITE IS DEFECT AND ERROR FREE OR FREE OF VIRUSES AND OTHER HARMFUL COMPONENTS. openmatch MAY, BUT NOT OBLIGATED TO, VERIFY THE USER WHILE REGISTERING ON THE WEBSITE. HOWEVER, WE CANNOT CONFIRM EACH MEMBER'S IDENTITY OR QUALIFICATION IS PRECISE. ON THE OTHER HAND WE STRONGLY RECOMMEND OR ENCOURAGE EACH MEMBERS OF openmatch TO PROVIDE FEEDBACK THROUGH OUR USER-INITIATED FEEDBACK FORM ON THE WEBSITE TO EVALUATE THE MEMBERS WITH WHOM YOU INTERACT AND RATE THEM ACCORDING TO YOUR TRAVELLING EXPERIENCE WITH THEM.
        p.
          Limitations of Liabilities
          openmatch IN NO EVENT WILL BE LIABLE TO YOU FOR ANY DAMAGE, LOSS, INCIDENT, INJURY, CONSEQUENCE, FAILURE OR CLAIM OF ANY KIND RESULTING FROM YOUR USE OF OUR WEBSITE. WE ARE NOT RESPONSIBLE FOR ANY INFORMATION OR OPINIONS POSTED BY USERS INCLUDING BUT NOT LIMITED TO CORRUPTION, DAMAGES FOR DELETION, FAILURE TO STORE ANY INFORMATION, LOSS OF DATA, OR FOR THE COST OF PROCURING SUBSTITUTE SERVICES OR OTHER CONTENT TRANSMITTED OR MAINTAINED BY OUR SERVICE. WE WILL NOT BE LIABLE FOR ANY DAMAGES, DIRECT, INDIRECT, INCIDENTAL AND/OR CONSEQUENTIAL, RESULTING OUT OF THE USE OF THE SITE OR THE SERVICES, INCLUDING, WITHOUT LIMITATION, TO DAMAGES ARISING OUT OF COMMUNICATING AND/OR MEETING WITH OTHER PARTICIPANTS OF THE SITE OR THE SERVICES, OR INTRODUCED TO YOU VIA THE SITE OR THE SERVICES. SUCH DAMAGES INCLUDE, WITHOUT LIMITATION, PHYSICAL DAMAGES, BODILY INJURY, DEATH AND OR EMOTIONAL DISTRESS AND DISCOMFORT.
        p.
          Privacy Policy
          openmatch will never sell your information to marketing teams or any third party. However to operate this site to its best we do use mixpanel to track users and their experience with the site. If for any reason you object to this we are sorry and do not sign up for our service.

    include ./footer.jade