<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenMatch | Free Ridematch Software</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/openmatch.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="js/vendor/modernizr.js"></script>
  </head>
  
  <body>

    <div class="mainContainer">

    <!-- HEADER -->
    <header class="grey">

      <div class="row grey">

        <div class="large-3 columns">
          <h1><a href="index.html"><img src="http://placehold.it/400x100&text=Logo"/></a></h1>
        </div>

        <div class="large-9 columns">
          <ul class="right button-group topNav">
            <li><a href="features.html" class="button">features</a></li>
            <li><a href="aboutus.html" class="button">about</a></li>
            <li><a href="contact.html" class="button">contact</a></li>
            <li><a href="contact.html" class="button">docs</a></li>
          </ul>
         </div>

       </div>
  
    </header>
    <!-- END HEADER -->

    <div class="row">
        	<p>OpenMatch was created with the intention of providing effective rideshare software for government MPOs. In our pursuit to aggregate more rideshare data, we found that the software systems most MPOs were using were outdated and inadequately maintained. We believe that our ridematch software can help communities pool carpools together to reach a critical mass.</p>
		</div>

      
      <footer>

        <div class="navipanel">
        <div class="row">
        <ul class="inline-list">

        <div class="row">

          <div class="small-12 medium-4 columns ">
            <h5><a href="#">About Us</h5>
            <h5><a href="#">Current features and modules</a></h5>
            <ul>
              <li><a href="#">Driver</a></li>
              <li><a href="#">Passenger</a></li>
              <li><a href="#">Safety</a></li>
              <li><a href="#">Alerts</a></li>
              <li><a href="#">Communication</a></li>
              <li><a href="#">Region wide network maps</a></li>
            </ul>
          </div>

          <div class="small-12 medium-4 columns ">
            <h5><a href="#" >Docs</a></h5>
              <ul>
                <li><a href="#">Getting started</a></li>
                <li><a href="#">File structure</a></li>
                <li><a href="#">Tests</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Client-side</a></li>
              </ul>
          </div>

          <div class="small-12 medium-4 columns ">
            <h5><a href="#">Contact Us</a></h5>
            <h5><a href="#">For Businesses</a></h5>
            <h5><a href="#">For Government MPOs</a></h5>
            <h5><a href="#">For Software Developers</a></h5>
            <h5><a href="#">Terms and Conditions</a></h5>
          </div>

        </div>
          
        </ul>

          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Rdvouz. All rights reserved.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Questions? Feedback? Let us know!</a></li>
              </ul>
            </div>
          </div>
        </div> 
        </div>

      </footer>

    </div>
      
      <script src="js/vendor/jquery.js"></script>
	  <script src="js/foundation/foundation.js"></script>
	  <script src="js/foundation/foundation.dropdown.js"></script>
	  
	  <script>$(document).foundation();</script>
    </body>
</html>