  
      <!-- HEADER -->
      <header class="grey">

        <div class="row grey">

          <div class="large-6 columns">
            <h1 class="logoClass"><a href="index.html">OpenMatch</a> <span class="subText" style="position:relative; top:-4px">open source ridematching software</span></h1>
          </div>

          <div class="large-6 columns">
            <ul class="right button-group topNav">
              <li><a href="features.html" class="button">features</a></li>
              <li><a href="enterprise.html" class="button">enterprise</a></li>
              <li><a href="aboutus.html" class="button">about</a></li>
              <li><a href="contact.html" class="button">contact</a></li>
              <li><a href="docs.html" class="button">docs</a></li>
            </ul>
           </div>

         </div>
    
      </header>
      <!-- END HEADER -->
      