include ../head.jade

body
  .mainContainer
  
    include ../header.jade

    .row
      br
      .large-10.columns
        h1(style='text-decoration:underline') Getting Started
      .large-2.columns
        p(style='padding-top:20px') unstable - v 0.0.0
    .row
      .large-6.columns
        p
          | Welcome to the docs for setting up OpenMatch! If you're a software developer, someone looking to contribute to OpenMatch, or just someone looking to play around with some ridematch software, you're in the right place. Please keep in mind that the repository is in alpha—hack around with it in your development environment, but make sure you know what you're doing if you want to use it in production now.
    hr
    .row
      .small-12.columns
        p.subText
          | Think the docs are lacking? We do too—we've only begun work on them. Feel free to 
          a(href='mailto:rafael@toeverywhere.net') email us
          |  if you need more info.
    include ../footer.jade