.row
  .small-12.columns
    p.subText
      | Think the docs are lacking? We do too—we've only begun work on them. Feel free to 
      | email me at rafael@toeverywhere.net
      | if you need more info.
