include ../head.jade

body
  .mainContainer
  
    include ../header.jade

    .row
      br
      .large-10.columns
        h1(style='text-decoration:underline') Features in Development
      .large-2.columns
        include ./version.jade
    .row
      .large-6.columns
        p
          | Current items on the to do list for OpenMatch
        ul(style="list-style:inherit")
          li full test coverage
          li OS agnostic shell scripts
          li Dockerizing
          li Karma Jasmine Angularjs testing
          li field checking and type checking in tests
          li switch over to angular google maps
          li optimize retrival of rides in OpenMatch
          li implement toEverywhere style lazy loading in OpenMatch
          li plugin system
          li sms messaging 
          li configuration system
          li admin panel and analytics
          li reporting and marketing tools
          li ... and more
    hr
    include ./docs_footer.jade
    include ../footer.jade