include ../head.jade

body
  .mainContainer
  
    include ../header.jade

    .row
      br
      .large-10.columns
        h1(style='text-decoration:underline') Tests
      .large-2.columns
        include ./version.jade
    .row
      .large-6.columns
        p
          | Tests for OpenMatch are held in two folders spec/ and client-spec/.
        
        p
          | Server side tests can be run by installing jasmine-node
          br
          b npm install -g jasmine-node
          br
          | and running 
          br 
          b jasmine-node spec/
        
        br
        
        p
          | Client-side e2e tests can be run with protractor
          br 
          b npm install protractor
          br
          | and running 
          br
          b webdriver-manager update
          b webdriver-manager start
          b protractor ./client-test
          br
          br
          | protractor can be configured in client-test.js and test can be written and altered in client-spec/

    hr
    include ./docs_footer.jade
    include ../footer.jade